.About-me{
  width: 100%;
  display: flex;
  padding-bottom: 100%;
  background-color: #ce6a6b;

}

h2{
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  margin-left:1%;
  color: white;
  text-shadow: 10px 6px 5px rgb(0, 0, 0);
}
.About-me .section-Header{
    margin-top: 10%;
    width: 30%;
    color: #bed3c3;
}

.About-me .section-Header .headshot{
  border-radius: 100px;
  box-shadow: 15px 15px 10px rgb(0, 0, 0, 0.9);

}

.About-me .bio{
  width: 70%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 30%;
  box-shadow: 15px 6px 5px rgb(0, 0, 0, 0.7);
  padding-top: 2%;
}

.About-me .bio p{
  color: white;
  font-family: 'Montserrat', sans-serif;
   padding: 5% 5% 5% 5%;
   font-size: 1.4rem;

   text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
